nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    a {
        text-decoration: none;
        color: black;
        &:hover{
            text-decoration: underline;
        }
    }
    .logo-website {
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
    }
    .menu-links {
        display: flex;
        align-items: center;
        .logout {
            cursor: pointer;
        }
        .menu-link {
            font-size: 1.1rem;
            text-decoration: none;
            margin-right: 20px;
            &:hover {
                color: #ffc107;
            }
        }
    }
}
