<div class="forgot-pw__wrapper">
    <h1>Forgot Password</h1>
    <p>Enter your email address and we'll send you a link to reset your password.</p>
    <form [formGroup]="recoverPasswordForm" (submit)="onForgotPasswordSubmit()">
        <div class="form-group">
                <mat-form-field>
                  <input
                    type="email"
                    matInput
                    placeholder="Email"
                    formControlName="email"
                  />
                </mat-form-field>
                <mat-spinner *ngIf='loading' [diameter]='15' class='spinner'></mat-spinner>
        </div>
        <p *ngIf="error" class="error">
            {{ error }}
        </p>
        <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!recoverPasswordForm.valid"
      >
        Submit
      </button>
    </form>
</div>
