.register-form__form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
    .register-input {
        margin-bottom: 40px;
        width: 400px;
    }
}

