.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-;
    align-items: center;
    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            border-bottom: 1px solid #ccc;
        }
        th {
            text-align: left;
            padding: 10px;
            font-size: 14px;
            color: #333;
        }
        td {
            padding: 10px;
            font-size: 14px;
            color: #333;
        }
    }
}
