<section class="home">
  <app-search-bar></app-search-bar>
  <table>
    <thead>
        <th>User</th>
        <th>Shift Slug</th>
        <th>Workspace</th>
        <th>Hourly Rate</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Total Earnings</th>
    </thead>
    <tbody>
        <tr *ngFor="let shift of shiftDb">
            <td>{{shift.user}}</td>
            <td>{{shift.shiftSlug}}</td>
            <td>{{shift.workplace}}</td>
            <td>{{shift.hourlyRate}} $ / hour</td>
            <td>{{shift.shiftDescription}}</td>
            <td>{{shift.shiftDate | dateConvert }}</td>
            <td>{{shift.totalEarnings}} $</td>
        </tr>
    </tbody>
</table>
<p>Best month of this year: {{ bestMonthName }} with a total of {{ bestMonth }} $</p>
</section>
